* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    min-width: 1400px;
    padding-top: 100px;
}

/* breadcrumb */
.breadcrumb {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.23px;
    text-decoration: none;
    color: #909090;
}

/* main container for top part */
.product-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* product left side */
.picture-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    /* value to edit */
    margin-right: 30px;
}

.pictures {
    display: flex;
    flex-direction: row;
}

.pictures ul {
    list-style: none;
}

.small-pictures-container {
    display: flex;
    flex-direction: column;
    padding-right: 11px;
    justify-content: space-between;
}

.small-picture {
    max-width: 74px;
    max-height: 107px;
}

.small-picture:hover {
    cursor: pointer;
}

.big-picture {
    max-width: 469.83px;
    max-height: 693px;
}

/* anything related to the footer of the products */
.pictures-footer {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: end;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
    padding-right: 3.83px;
    gap: 8.5px;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #a0a0a0;
    background: #f5f5f5;
    border-radius: 50%;
}

.social-icon:hover {
    cursor: pointer;
}

/* right part of product-container */
.details-container {
    width: 50%;
    margin-left: 30px;
}

.product-brand {
    display: flex;
    flex-direction: column;
}

.product-brand h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.product-brand p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.product-details {
    padding-top: 19px;
}
.product-details p {
    width: 450px;
    font-weight: 300;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 3px;
}

.product-details span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fd5c22;
}

.product-rating {
    display: flex;
    flex-direction: row;
}

.product-rating p {
    font-family: "Montserrat", serif;
    font-size: 13px;
    font-weight: 400;
    width: auto;
}

.product-rating div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.product-rating .rating-icon-gray {
    color: #cdcdcd;
    height: 18px;
    width: 16px;
}

.product-rating .rating-icon-colored {
    color: #fd5c22;
    height: 18px;
    width: 16px;
}

.price-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.price-container p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #111111;
    width: auto;
}

.price-container .price-display {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #fd5c22;
}
/*

.product-container {
    display: grid;
    grid-template-areas: "picture description";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background: orange;
}

.product-picture {
    display: flex;
    grid-area: picture;
    justify-items: center;
    justify-content: end;
    gap: 8px;
    background: green;
}

.product-preview {
    display: grid;
    grid-template-areas: "smallp", "smallp", "smallp", "smallp", "smallp",
        "smallp";
    align-content: space-between;
    height: 692px;
    width: 75px;
    list-style: none;
    padding-top: 1px;
}

.product-info {
    grid-area: description;
    background-color: blue;
}

.image-small {
    grid-area: smallp;
    max-width: 74px;
    max-height: 107px;
}

.image-big {
    display: block;
    max-width: 469.83px;
    max-height: 693px;
    align-content: end;
}

.socials {
} */
